.backdrop {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 100%;
}

.detail {
  position: relative;
  padding: 50px;
}

.poster {

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.44);
}

.title {
  font-size: 50px;
  margin-top: 25px;
  font-weight: 400;
}

.overview{
  margin-top: 15px;
  width: 500px;
  word-wrap: normal;
}